/* colour palette */
footer,.footer{min-width:100%;background-color:#808080;color:#d9d9d9}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
