/* colour palette */
footer,.footer{background-color:#069;color:#d9d9d9;height:200px;position:absolute;right:0;left:0;bottom:0;padding:20px 10px 10px 10px;border:0 dotted blue;box-sizing:border-box}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
