/* colour palette */
/*@solid-base : #4484CE;  #4484CE blue 
@plain-base : #D9D9D9;  #D9D9D9 Aluminium grey 
@light-base : #F9CF00;  #F9CF00 Yellow 
@bold-base : #F19F4D;  #F19F4D Orange 
@menu-container : #f2f2f2;  #f2f2f2 clear grey*/
@solid-base : #6b7a8f; /* grey */
@plain-base : #D9D9D9; /* aluminium */
@light-base : #f7c331; /* Yellow */
@bold-base : #cc0000; /* RED */
@menu-container : #ffffff; /* white */
/* plain text */
@plain-text : #808080; /* #808080 Dark grey */

/* font-family: 'LatoWebBold';
   font-family: 'LatoWebLight';
   font-family: 'LatoWeb'; */

header, .header{
  font-family: 'LatoWebBold';
  position:relative;
  top:0px;
  left:0px;
  background-color: @menu-container;
  border-bottom: 1px solid @plain-base; 
  display:block;
  overflow:hidden;
}

header h1, .header h1{
  margin:10px 25px;
  color:@bold-base;
}

nav, .nav{
  width: 100%;
  display:block;
  background-color: @menu-container;
  box-sizing:border-box;
}

nav a:hover,.nav a:hover {
  border-bottom:2px solid @bold-base;
}

#nav-container-subjects{
  display:none;
}

@media screen and (min-width: 600px) {
  nav a, .nav a {
    display:inline-block;
    font-family: 'LatoWebBold';
    margin:4px 0px 0px 14px;
    padding:15px;
    text-decoration:none;
    text-transform: uppercase;
    font-size:14px;
    font-weight:500;
    color:#000000;
    border-bottom:2px solid @menu-container;
    box-sizing:border-box;
  }
  .nav-container{
    top:91px;
    left:65px;
    position:absolute;
    z-index:1;
    padding:5px;
    margin:2px 15px;
    width:80%;
    background-color: @menu-container;
    border: 1px solid @plain-base;
  }
  .nav-container-item h1 {
    font-family: 'LatoWeb';
    font-weight:500;
    color:@bold-base;
    margin:2px 0px;
    font-size: 16px;
  }
  .nav-container-item h2 {
    font-family: 'LatoWeb';
    font-weight:500;
    color:@plain-text;
    margin:2px 2px;
    font-size: 14px;
  }
  .nav-container-item h3 {
    font-family: 'LatoWeb';
    font-weight:500;
    color:@plain-text;
    margin:2px 4px;
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  nav a, .nav a {
    display:inline-block;
    font-family: 'LatoWebBold';
    margin:4px 0px 0px 14px;
    padding:15px 8px;
    text-decoration:none;
    text-transform: uppercase;
    font-size:14px;
    font-weight:500;
    color:#000000;
    border-bottom:2px solid @menu-container;
  }
  .nav-container{
    top:91px;
    left:1px;
    position:absolute;
    z-index:1;
    padding:5px;
    margin:2px 12px;
    width:90%;
    background-color: @menu-container;
    border: 1px solid @plain-base;
  }
  .nav-container-item h1 {
    font-family: 'LatoWeb';
    font-weight:500;
    color:@bold-base;
    margin:4px 0px;
    font-size: 18px;
  }
  .nav-container-item h2 {
    font-family: 'LatoWeb';
    font-weight:500;
    color:@plain-text;
    margin:6px 2px;
    font-size: 16px;
  }
  .nav-container-item h3 {
    font-family: 'LatoWeb';
    font-weight:500;
    color:@plain-text;
    margin:5px 4px;
    font-size: 14px;
  }
}

.nav-container .nav-container-item {
  display:inline-block;
  vertical-align:top;
  padding:12px 8px;
  margin:10px 15px;
  width:200px;
  border:1px solid white;
  background-color:#ffffff;
}
.nav-container .nav-container-item:hover {
  background-color:#e6f0ff;
  border:1px solid #ccd9ff;
  cursor:pointer;
}
.nav-container .nav-container-item:after {
  clear:both;
}
.clear{
  clear:both;
}
